.Box1 {
    background-color:#786fa6;
    height: 120px;

}

.textos {
    color: white !important;
    
}

.text-decorator-none{
    text-decoration: none ;
    color: white
}

.redes {
    font-size: 60px !important;
    color: white;
}

.Box2 {
    background-color:#574b90;
    height: 60px;
}